<h1>Subscriptions</h1>

<%if @subscriptions.count != 0%>
<table>
  <tr>
    <th>Manga</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription.manga_id %></td>
    <td><%= link_to 'Show', subscription %></td>
    <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
    <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%else%>
	You have no subscriptions !
<%end%>
<br />
<%= link_to 'New Subscription', new_subscription_path %>
